body{
    background-color:blue;
    font-size: 40px;
}


h1{
    color:darkred;
    font-family: 'Dancing Script', cursive;

}

h2{
    color: brown;
}

p,li{
    color:red;
}


a{
    
    
    border-color: blue;
    color:chartreuse;
    padding-left:800px;
    

}

.contenedor-imagenes {
    display: flex; /* Utilizamos flexbox para alinear las imágenes en línea */
  }
  
  /* Otras opciones de estilo, como márgenes o espaciado entre las imágenes */
  .contenedor-imagenes img {
    margin-right: 50px; Espacio entre las imágenes (puedes ajustar esto según tus necesidades)
  }

  
